
body{
    background: rgb(20,176,176);
    background: radial-gradient(circle, rgba(20,176,176,1) 17%, rgba(255,243,194,1) 84%);
}

.home_page{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.butt{
    padding: 10px;
}


form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.myform{
    position: absolute;
    transform: translate(-50%,0%);
    top: 50px;
    left: 50%;
    z-index: 100;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.input_div{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.input_label{
    margin-right: 10px;
    width: 400px;
    font-weight: bold;
    text-align: left;
}

.tx-tfm{
    text-transform:uppercase;
}

.form_input{
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    border: 1px solid #ced4da;
    width: 250px;
}